version: '3.8'

services:
  

  # Django Web Application
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hostmails_web
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000 --workers 4 --threads 2 --reload
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - logs_volume:/app/logs
    ports:
      - "${WEB_PORT:-8000}:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    restart: unless-stopped
    networks:
      - hostmailf-network

  

volumes:
  static_volume:
    driver: local
  media_volume:
    driver: local
  logs_volume:
    driver: local

networks:
  hostmailf-network:
    driver: bridge
